{% load static %}
<style>
  .box{
         display: flex;
         justify-content: center;
         align-items: baseline;
         height:100vh; 
         margin-top: 75px;
     }
     .subbox{
         width:600px;
         padding: 20px;
         border-radius: 20px;
         background-color:#f8f9fa;
     }
 </style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bankapp/css/bootstrap.css' %}">        

    <title>History</title>
</head>
<body>
    <div class="nvbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">TSF BANK</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">HOME</a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'customers' %}">CUSTOMERS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'transactions' %}">TRANSACTION</a>
                  </li>                  
                </ul>
              </div>
            </div>
          </nav>
        </div>
    <div class="box">
      <div class="subbox">
        <h3><b>TRANSACTION DETAILS</b></h3>
        <table class="table">
          <thead>
           <tr>
             <th scope="col">DATE AND TIME</th>
             <th scope="col">SENDER</th>
             <th scope="col">RECIEVER</th>
             <th scope="col">AMOUNT SENT</th>
           </tr>
          </thead>
          <tbody>
            {% for h in history %}
            <tr>
              <td>{{ h.date_trans }} </td>
              <td>{{ h.sender }} </td>
              <td> {{ h.reciever }} </td>
              <td>{{ h.amount }}/-</td>
            </tr>
         {% endfor %}
        </div>
      </div>
    </div>   
    
</body>
</html>